<div class="container" id="main">
    <!-- location list START -->
    <div class="row">
            <!-- Temporary button> -->
              //buton here
              <div ng-click="switchToCategories()">
                go to categories
              </div>
            <!-- Temporary button> -->
            <!-- item list --
            <div class="col-xs-12 nopadding" ng-repeat="loc in locations">
              <div class="locationTile">
                <img class="img-responsive" ng-src="{{loc.img}}" />
                <div class="locationName"> {{loc.name}}  </div>
              </div>
            </div>
            <!-- /item list -->
    </div>
    <!-- location list END -->
</div>
